 body {
background-color:lightgrey;
font-family:Verdana, sans-serif;
}

.column-layout {
max-width:800px;
background-color:white;
margin:40px auto 0 auto;
line-height:1.65;
padding:20px 40px;
display:flex;
}

.main-column {
flex:3;
order:1;
}

.sidebar-one {
padding-left:15px;
flex:1;
order:2;
}

.call-outs-container {
max-width:800px;
margin:40px auto 0 auto;
display:flex;
justify-content: space-between;
}

.call-out {
padding:20px;
box-sizing: border-box;
margin-bottom:20px;
width:30%;
text-align: center;
}

.call-out:nth-child(1) {background-color:blue; padding:10px; margin:10px;}
.call-out:nth-child(2) {background-color:red; padding:10px; margin:10px;}

.menu-layout {
  display: flex;
  margin: 0px auto;
  max-width:930px;
  width: 100%;
  justify-content: space-between
}

.menu-item{
  flex: 1;
  text-align: center;
  color: white;
  background-color: teal;
  box-sizing: border-box;
  line-height: 1.65;
  padding: 1em 0em;
  margin: 1em;
  flex-basis: 30%;
  transition-property: background-color, border-radius;
  transition-duration: 2s, 1s;
}

.menu-item a:link, a:hover, a:visited, a:active {
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: orange;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  width:15px;
  height:15px;
}





